.container {
  width: 100%;
  height: 1000px;
  background-image: url("https://github.com/mdab4793/shop/blob/main/background/47.jpeg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  font-family: "Orbitron", sans-serif;
}
.main {
  width: 100%;
  height: 400px;
  color: wheat;
  text-align: center;
  background: rgba(1, 1, 1, 0.4);
  position: absolute;
  bottom: 200px;
}

.section {
  position: relative;
  top: 30px;
  margin: 30px;
}
.main h2 {
  padding: 20px;
  font-size: 30px;
}

.login img {
  width: 40px;
  padding: 10px;
}
.section button {
  background-color: wheat;
  border-style: none;
  border-radius: 10px;
}
