.wrapper {
  color: wheat;
  font-family: "Orbitron", sans-serif;
  background: none;
}
.wrapperImg {
  width: 700px;
  height: 550px;
  object-fit: cover;
  border-radius: 20px;
}
.wrapper :hover {
  color: gray;
}
.wrapper h3 {
  padding: 40px;
  font-size: 35px;
}
.wrapper p {
  font-size: 30px;
}
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
  .wrapper img {
    width: 450px;
    height: 450px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 479px) {
}
